@page "/component-communication"

<PageTitle>Component Communication</PageTitle>

<h1>Component Communication</h1>

Binding data flow from Parent => Child and Child => Parent two-way communication

<br />
<br />
<br />
<br />

<h5>Parent To Child Communication</h5>
<br />

<div style="margin-top:30px; display:flex; justify-content: space-between;">
    <DepartmentList></DepartmentList>
</div>
