@page "/counter1"

<h1>Counter 1</h1>
<p>This page uses embeded c# code</p>

<p>Current count: @currentCount</p>
<button class="btn btn-primary" @onclick="IncrementCount">Increment</button>

@code{
     private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}