@page "/counter2"
@inherits Counter2Base

<h1>Counter 2</h1>
<p>This page uses ComponentBase class => Counter2Base</p>

<p>Current count: @currentCount</p>
<button class="btn btn-primary" @onclick="IncrementCount">Increment</button>